<ion-view view-title="Bus and driver inspection">
  <ion-content class="padding">
    <ion-list>
    <ion-toggle  ng-model="checklist.ticketWorking">
        Ticket system working
    </ion-toggle>
      <div><br></div>
    <ion-toggle  ng-model="checklist.smokeSmell">
      Bus smells of smoke
    </ion-toggle>
      <ion-toggle  ng-model="checklist.driverSmoke">
        Driver is smoking
      </ion-toggle>
      <ion-toggle  ng-model="checklist.passSmoke">
        Passengers are smoking
      </ion-toggle>
      <div><br></div>
      <ion-toggle  ng-model="checklist.missPass">
        Driver misses passengers
      </ion-toggle>
      <span>
        <ion-toggle ng-disabled="!checklist.missPass"  ng-model="checklist.aTooManyPass">
          A. Too many passengers
        </ion-toggle>
        <ion-toggle ng-disabled="!checklist.missPass" ng-model="checklist.bCarelessDriver">
          B. Careless driver
        </ion-toggle>
      </span>
      <div><br></div>

      <ion-toggle  ng-model="checklist.incorrectTickets">
        Issuing incorrect tickets
      </ion-toggle>
      <ion-item>
        <input type="text" ng-model="checklist.firstComment" placeholder="Comment">
      </ion-item>
      <div></br></div>
      <ion-toggle  ng-model="checklist.usingMobile">
        Driver using mobile phone
      </ion-toggle>
      <br>
      <ion-toggle  ng-model="checklist.missAnnouncement">
        Driver misses announcement
      </ion-toggle>
      <div><br></div>
      <ion-item class="item-divider">Availability of bus to passengers</ion-item>
      <ion-toggle  ng-model="checklist.notAtLane">
        A. Bus not at lane in time or
      </ion-toggle>
      <ion-toggle  ng-model="checklist.doorsClosed">
        B. The doors are closed too long
      </ion-toggle>
      <ion-toggle  ng-model="checklist.other">
        C. Other
      </ion-toggle>
      <br>
      <ion-toggle  ng-model="checklist.missInfoMaterials">
        Misses information materials
      </ion-toggle>
      <br>
      <ion-toggle ng-model="checklist.missingPictograms">
        Missing pictograms
      </ion-toggle>
      <span>
        <ion-toggle ng-disabled="!checklist.missingPictograms"  ng-model="checklist.aNoSmoking">
          A. No smoking
        </ion-toggle>
        <ion-toggle ng-disabled="!checklist.missingPictograms"  ng-model="checklist.bNoIceFood">
          B. No ice or food allowed
        </ion-toggle>
        <ion-toggle ng-disabled="!checklist.missingPictograms"  ng-model="checklist.cDrinks">
          C. No drinks
        </ion-toggle>
        <ion-toggle ng-disabled="!checklist.missingPictograms"  ng-model="checklist.dOther">
          D. Other
        </ion-toggle>
      </span>
      <br>
      <ion-toggle  ng-model="checklist.missingUniform">
        Missing uniform
      </ion-toggle>
      <br>
      <ion-toggle  ng-model="checklist.missCleaning">
        Bus needs cleaning
      </ion-toggle>
      <ion-item class="item-divider">
        Bus needs cleaning outside
      </ion-item>
      <ion-item>
        <div class="range">
          <div>1</div>
          <input type="range" min="1" max="5" ng-model="checklist.cleanOutside" name="cleanOutside">
          <div>5</div>
        </div>
        <p style="float: left">Best</p>
        <p style="float: right;">Worst</p>
      </ion-item>
      <ion-item class="item-divider">
        Bus needs cleaning inside
      </ion-item>
      <ion-item>
        <div class="range">
          <div>1</div>
          <input type="range" min="1" max="5" ng-model="checklist.cleanInside" name="cleanInside">
          <div>5</div>
        </div>
        <p style="float: left">Best</p>
        <p style="float: right;">Worst</p>
      </ion-item>

      <ion-item>
        <input type="text" ng-model="checklist.secondComment" placeholder="Comment">
      </ion-item>

      <br>
      <input type="button" ng-click="openModal()" class="button button-balanced button-bar" value="Submit inspection">
    </ion-list>

  </ion-content>
</ion-view>
