<ion-view view-title="Bus and driver inspection">
  <ion-content class="padding">
    <ion-list>
    <ion-toggle  ng-model="checklist.ticketWorking">
        Ticket system working
    </ion-toggle>
      <div><br></div>
    <ion-toggle  ng-model="checklist.smokeSmell">
      Bus smells of smoke
    </ion-toggle>
      <ion-toggle  ng-model="checklist.driverSmoke">
        Driver is smoking
      </ion-toggle>
      <ion-toggle  ng-model="checklist.passSmoke">
        Passengers are smoking
      </ion-toggle>
      <div><br></div>
      <ion-toggle  ng-model="checklist.missPass">
        Driver misses passengers
      </ion-toggle>
      <ion-toggle  ng-model="checklist.aTooManyPass">
        A. Too many passengers
      </ion-toggle>
      <ion-toggle  ng-model="checklist.bCarelessDriver">
        B. Careless driver
      </ion-toggle>
      <div><br></div>
      <ion-toggle  ng-model="checklist.incorrectTickets">
        Issuing incorrect tickets
      </ion-toggle>
      <ion-item>
        <input type="text" ng-model="checklist.firstComment" placeholder="Comment">
      </ion-item>
      <div></br></div>
      <ion-toggle  ng-model="checklist.usingMobile">
        Driver using mobile phone
      </ion-toggle>
      <ion-toggle  ng-model="checklist.missAnnouncement">
        Driver misses announcement
      </ion-toggle>
      <div><br></div>
      <ion-item>Availability of bus to passengers</ion-item>
      <ion-toggle  ng-model="checklist.notAtLane">
        A. Bus not at lane in time or
      </ion-toggle>
      <ion-toggle  ng-model="checklist.doorsClosed">
        B. The doors are closed too long
      </ion-toggle>
      <ion-toggle  ng-model="checklist.other">
        C. Other
      </ion-toggle>
      <br>
      <ion-toggle  ng-model="checklist.missingPictograms">
        Misses information materials.
      </ion-toggle>
      <br>
      <ion-item>Missing pictograms</ion-item>
      <ion-toggle  ng-model="checklist.aNoSmoking">
        A. No smoking
      </ion-toggle>
      <ion-toggle  ng-model="checklist.bNoIceFood">
        B. No ice or food allowed
      </ion-toggle>
      <ion-toggle  ng-model="checklist.cDrinks">
        C. No drinks
      </ion-toggle>
      <ion-toggle  ng-model="checklist.dOther">
        D. Other
      </ion-toggle>
      <br>
      <ion-toggle  ng-model="checklist.missingUniform">
        Missing uniform.
      </ion-toggle>
      <ion-toggle  ng-model="checklist.missCleaning">
        Bus needs cleaning
      </ion-toggle>
      <ion-item>
        <div class="range">
          <div>1</div>
          <input type="range" ng-model="checklist.cleanOutside" name="cleanOutside">
          <div>5</div>
        </div>
        {{ cleanOutside }}
      </ion-item>
      <ion-item>
        <div class="range">
          <div>1</div>
          <input type="range" ng-model="checklist.cleanInside" name="cleanInside">
          <div>5</div>
        </div>
        {{ cleanInside }}
      </ion-item>
      <ion-item>
        <input type="text" ng-model="checklist.secondComment" placeholder="Comment">
      </ion-item>

      <br>
      <input type="button" ng-click="openModal()" class="button button-balanced button-bar" value="Submit inspection">
    </ion-list>

    <script id="bdi-modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <h1 class="title">Confirm data entered</h1>
        </ion-header-bar>
        <ion-content>
          <p>Ticket working: {{ checklist.ticketWorking}}</p>
          <p ng-repeat="item in checklist">
            {{ item }}
          </p>
          <input type="button" ng-click="openModal()" class="button button-balanced button-bar" value="Confirm and submit inspection">
        </ion-content>
      </ion-modal-view>
    </script>


  </ion-content>
</ion-view>
